@model ASPMVCProjektSklep.Models.Adress

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.building)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.building)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postalCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
