@model ASPMVCProjektSklep.Models.Product

<style>
    .thumbnail img {
        padding: 10px;
        padding-top: 20px;
        max-height: 160px;
    }

    .thumbnail {
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

        .thumbnail a {
            color: black;
            text-decoration: none;
        }

        .thumbnail span {
            color: white;
        }
</style>


<div class="thumbnail">
    <a href="@Url.Action("Show", "Product", new { id = Model.Id })">
        @if (ViewBag.photoSrc != null)
        {
            <img src="@ViewBag.photoSrc">
        }
        else
        {
            <img src="~/Images/noimage.png">
        }
    </a>
    <div class="caption">
        <a href="@Url.Action("Show", "Product", new { id = Model.Id })">
            <h3>@Model.Name</h3>
        </a>
        @if (ViewBag.sale == "true")
        {
            <p>
                @ViewBag.salePrice zł
                <s>@Model.Price zł</s>
            </p>
        }
        else
        {
            <p>@Model.Price zł</p>
        }
        <p>
            @if (Model.status == "active")
            {
                <a href="@Url.Action("AddToCart","Cart", new { id = Model.Id })" class="btn btn-success" role="button">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    <span> Dodaj do koszyka</span>
                </a>
            }
            else
            {
                <a class="btn btn-danger" role="button">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    <span> Produkt niedostępny</span>
                </a>
            }

        </p>
    </div>
</div>
