@model IEnumerable<ASPMVCProjektSklep.Models.Product>

@{
    ViewBag.Title = "ShowList";
}


<h2>@ViewBag.categoryName</h2>

<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">

        </div>

        <div class="col-sm-9">
            @{var products = Model.ToList();
                int iterator = 0;
            }
            @for (int i = 0; i < 3; i++)
            {
                <div class="row">
                    @for (int j = 0; j < 3; j++)
                    {
                        <div class="col-sm-4">
                            @{
                                if (iterator < products.Count)
                                {
                                    Html.RenderAction("ProductCard", "Product", new { id = products[iterator].Id });
                                }
                                iterator++;
                            }
                        </div>
                    }
                </div>
            }



            <nav aria-label="Page navigation">
                <ul class="pagination pull-right">
                    <li>
                        @if (ViewBag.currentPage > 1)
                        {
                            <a href="@Url.Action("ShowList", "Product", new { @categoryId = ViewBag.categoryId , @id = ViewBag.currentPage - 1 } )" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        }
                        else
                        {
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        }
                    </li>

                    @for (int i = 1; i <= @ViewBag.pageCount; i++)
                    {
                        if (i == ViewBag.currentPage)
                        {
                            <li class="active"><a href="@Url.Action("ShowListByCategory", "Product",new { @categoryId = ViewBag.categoryId , @id = i} )">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("ShowListByCategory", "Product", new { @categoryId = ViewBag.categoryId , @id = i} )">@i</a></li>
                        }
                    }

                    <li>
                        @if (ViewBag.currentPage < ViewBag.pageCount)
                        {
                            <a href="@Url.Action("ShowList", "Product", new { @categoryId = ViewBag.categoryId , @id = ViewBag.currentPage + 1 })" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        }
                        else
                        {
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        }
                    </li>

                </ul>
            </nav>


        </div>

        <div class="col-sm-2">

        </div>
    </div>
</div>

