@model ASPMVCProjektSklep.Models.Order

@{
    ViewBag.Title = "Create";


}

@if (ViewBag.adressMessage == "Żeby złożyc zamówienie musisz posiadać adres dodany do twojego konta")
{
    <h3>Żeby złożyc zamówienie musisz posiadać adres dodany do twojego konta</h3>
    <a href="@Url.Action("Create","Adress")" class="btn btn-info" role="button">Dodaj nowy adres</a>
}
else
{
    <h2>Podsumowanie:</h2>

    int iterator = 0;

    foreach (var item in ViewBag.productIDs)
    {

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="col-md-4">
                        <p>Nazwa: @ViewBag.productNames[iterator]</p>
                    </div>

                    <div class="col-md-4">
                        <p>Ilość: @ViewBag.quantities[iterator]</p>
                    </div>

                    <div class="col-md-4">
                        <p>Cena: @ViewBag.prices[iterator].ToString("0.00") zł</p>
                    </div>

                </div>
            </div>
        </div>


        iterator++;
    }



    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-2">
            <p>Suma:</p>
        </div>
        <div class="col-md-2">
            <p>@ViewBag.amount zł</p>

        </div>
    </div>


    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Szczegóły zamówienia</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Adress", (IEnumerable<SelectListItem>)ViewBag.adresses, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <input type="hidden" name="amount" value="@ViewBag.amount">
            </div>

            <div class="form-group">
                <b class="control-label col-md-2 ">Email</b>
                <div class="col-md-10">
                    <p class="form-control-static">@ViewBag.userEmail</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zamawiam" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

}

